//
// Variables
//
$sky:                   #81c7ff;
$pastel-orange:         #ff9a57;
$white-two:             #fafafa;
$marine:                #083954;
$greyish:               #aaaaaa;
$coral-pink:            #fc5a5b;
$turquoise:             #3ea094;
$greeny-blue:           #50c2a9;
$greyish-40:            rgba(170, 170, 170, 0.4);
$white:                 #ffffff;

// Height
$navbar-height:         50px;
$navbar-height-lg:      81px;

// Media Queries
$screen-xxs:            480px;
$screen-xs-max:         767px;
$screen-sm-min:         768px;
$screen-sm-max:         991px;
$screen-md-min:         992px;
$screen-md-max:         1199px;
$screen-lg-min:         1200px;
$screen-xlg-min:        1440px;