## mako

<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_(page_title)}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    
    <div class="oef-survey-page">
        <div class="container">
            <div class="oef-survey-header">
                <div class="oef-survey-title">
                    <h1>
                        Exygy's Organizational Effectiveness Framework
                    </h1>
                    <div class="date">(08/25/2017)</div>
                </div>
                
                <div class="oef-survey-steps">
                    <div class="step active">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                    <div class="step">4</div>
                    <div class="step">5</div>
                    <div class="step">6</div>
                    <div class="step">7</div>
                    <div class="step">8</div>
                </div>
                
                <div class="oef-survey-description">
                    <h2>1. LEADERSHIP</h2>
                    <p>Lorem ipsum dolar site amet, consectetur adipiscing elite, sed do eiusmod tempor incident ut labore et dolare mange aliques.</p>
                </div>
            </div>
            
            <div class="oef-survey-categories">
                <div class="category">
                    <h3>A. Strategic Planning</h3>
                    <p>
                        <button class="btn-expand">+</button>
                        Lorem ipsum dolar site amet, consectetur adipiscing elite, sed do eiusmod tempor incident ut labore et dolare mange aliques.
                        Lorem ipsum dolar site amet, consectetur adipiscing elite, sed do eiusmod tempor incident ut labore et dolare mange aliques.
                        Lorem ipsum dolar site amet, consectetur adipiscing elite, sed do eiusmod tempor incident ut labore et dolare mange aliques.
                    </p>
                    <!-- OEF Sub-category html -->
                    <button class="btn-close">Close</button>
                </div>
                <div class="footer">
                <a href="#NextProgram" class="next">Next: Programs &rarr;</a>
                    <button class="btn-save">Save and Finish it Later</button>
                </div>
            </div>
            
        </div>
    </div>
    
</main>